# ---------------------------------------------------------------- #
# IGNORAR ARQUIVOS GERAIS DE PROJETOS DE DESENVOLVIMENTO
# ---------------------------------------------------------------- #
.DS_Store
Thumbs.db
*.log

# ---------------------------------------------------------------- #
# IGNORAR ARQUIVOS E PASTAS DO VITE FRONTEND (Node.js)
# ---------------------------------------------------------------- #

GGeek_Front/node_modules/
GGeek_Front/dist/
GGeek_Front/package-lock.json

# ---------------------------------------------------------------- #
# IGNORAR ARQUIVOS E PASTAS DO SERVIDOR DE MOCK (Node.js)
# ---------------------------------------------------------------- #

GGeek_MockServer/node_modules/
GGeek_MockServer/package-lock.json

# ---------------------------------------------------------------- #
# OUTROS ARQUIVOS/PASTAS ESPECÍFICOS DO PROJETO JAVA
# ---------------------------------------------------------------- #
*.class
# Se usar Maven:
/target/
# Se usar IDEs como IntelliJ ou VS Code
.idea/
.vscode/