# ---------------------------------------------------------------- #
# IGNORAR ARQUIVOS GERAIS DE PROJETOS DE DESENVOLVIMENTO
# ---------------------------------------------------------------- #
.DS_Store
Thumbs.db
*.log
node_modules/
/package-lock.json

# ---------------------------------------------------------------- #
# IGNORAR ARQUIVOS E PASTAS DO VITE FRONTEND (Node.js)
# ---------------------------------------------------------------- #

packages/front/dist/

# ---------------------------------------------------------------- #
# OUTROS ARQUIVOS/PASTAS ESPECÍFICOS DO PROJETO JAVA
# ---------------------------------------------------------------- #
*.class
# Se usar Maven:
/target/
# Se usar IDEs como IntelliJ ou VS Code
.idea/
.vscode/