.panel{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.panel > main {
    width: 100%;
    height: 100%;
    background-color: #F4F4F4;
}

.hidden { display: none !important; }
