.login{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap: 4.5vh;
}

.login > img:first-of-type{
    height: 27.5vh;
}

.login > form{
    width: 27.5vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 4.5vh;
    background-color: #FDFDFD;
    border-radius: 2vh;
    -webkit-box-shadow: 3px 6px 15px 2px rgba(0,0,0,0.15); 
    box-shadow: 3px 6px 15px 2px rgba(0,0,0,0.15);
}

.login > form > div{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    height: auto;
    justify-content: center;
    gap: 2vh;
}

.login > form > div > div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    width: 90%;
    gap: 0.5vh;
}

.login > form > div > div > label{
    font-size: 3vh;
}

.login > form > div > div > input{
    font-size: 2.3vh;
    border-radius: 1vh;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #EFEFEF;
    padding: 1.25vh 1.5vh 1.25vh 1.5vh;
}


.login > form > button{
    font-size: 1.1rem;
    color: #013d79;
    background-color: #fff;
    border: 2px solid #013d79;
    border-radius: 1vh;
    box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.1);
    width: 90%;
    padding: 0.5vh;
    cursor: pointer;
}

form > button:hover{
    color: #fff;
    background-color: #013d79;
}


/* Mobile */


