.panelSidebar{
    background: #252525;
    color: snow;
    width: 20vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 6vh;
}
.menu-item {
    cursor: pointer;
    transition: background 0.3s;
}

.menu-item:hover {
    background-color: rgba(0,0,0,0.05); 
}

.menu-item.active {
    background-color: rgba(255, 255, 255, 0.2); /* Destaque */
    border-left: 4px solid #333; /* Detalhe visual "Pro" */
}
.panelSidebar > header{
    height: 30%;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
}

.panelSidebar > header > img{
    width: 8vw;
}

.panelSidebar > main{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    gap: 4vh;
    justify-content: center;
}



.panelSidebar > main > li {
    display: flex;
    flex-wrap: nowrap;
    height: auto;
    width: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.panelSidebar > main > li > ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 2vh 1.5vh 2vh 1.5vh;
    justify-content: center;
    cursor: pointer;
    gap: 0.5vw;
}

.panelSidebar > main > li > ul > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 80%;
    gap: 1vw;
    justify-content: flex-start;
    color: #FFFFFF;
    font-size: 1.7vh;
}

.panelSidebar > main > li > ul > div > img{
    width: 1.7vw;
}

.panelSidebar > footer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    background: gray;
    height: auto;
    padding: 1vh;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 0.5vw;
}
.panelSidebar > footer > div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 80%;
    align-items: center;
    justify-content: start;
    gap: 1vw;
}
.panelSidebar > footer > div > img{
    height: 3vh;
}