.register-customer{
    width: 100%;
    height: 100vh;
    background-color: #F4F4F4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-customer > form{
    width: 65%;
    height: 75%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 4vh;
    background-color: #fdfdfd;
    border-radius: 2vh;
    -webkit-box-shadow: 8px 5px 20px 5px rgba(0,0,0,0.1); 
    box-shadow: 8px 5px 15px 5px rgba(0,0,0,0.1);
}

.register-customer > form > h1{
    margin-top: 5vh;
    font-size: 6vh;
    font-weight: 500;
}

.register-customer > form > div{ 
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 7vh;
}

.register-customer > form > div > div:nth-of-type(1){
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1vh;
}

.register-customer > form > div > div:nth-of-type(1) > label{
    font-size: 3.5vh;
}

.register-customer > form > div > div:nth-of-type(1) > input{
    font-size: 2.7vh;
    width: 45vw;
    height: 4vh;
    border-radius: 0.5vh;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #EFEFEF;
}

.register-customer > form > div > div:nth-of-type(2){
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
    gap: 6vw;
}

.register-customer > form > div > div:nth-of-type(2) > div:nth-of-type(1){
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.register-customer > form > div > div:nth-of-type(2) > div:nth-of-type(1) > label{
    font-size: 3.5vh;
}

.register-customer > form > div > div:nth-of-type(2) > div:nth-of-type(1) > input{
    font-size: 2.7vh;
    width: 21vw;   
    height: 4vh; 
    border-radius: 0.5vh;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #EFEFEF;
}

.register-customer > form > div > div:nth-of-type(2) > div:nth-of-type(2){
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.register-customer > form > div > div:nth-of-type(2) > div:nth-of-type(2) > label{
    font-size: 3.5vh;
}

.register-customer > form > div > div:nth-of-type(2) > div:nth-of-type(2) > select{
    font-size: 2.5vh;
    width: 21vw;   
    height: 4vh; 
    border-radius: 0.5vh;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #EFEFEF;
}

.register-customer > form > div > div:nth-of-type(3){
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.register-customer > form > div > div:nth-of-type(3) > label{
    font-size: 3.5vh;
}

.register-customer > form > div > div:nth-of-type(3) > input{
    font-size: 2.7vh;   
    height: 4vh; 
    width: 45vw;
    border-radius: 0.5vh;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #EFEFEF;
}   

.register-customer > form > button{
    width: 30%;
    height: 5vh;
    padding: 0.5vh;
    font-size: 1.5rem;
    color: #013d79;
    background-color: #fff;
    border: 2px solid #013d79;
    border-radius: 1vh;
    box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.1);
    cursor: pointer;
}

.register-customer > form > button:hover{
    color: #fff;
    background-color: #013d79;
}
